@*@model IEnumerable<BookingWebApp.Models.h_hotel>*@
@model PagedList.IPagedList<BookingWebApp.Models.h_hotel> 
@using PagedList.Mvc; 
<link href = "~/Content/PagedList.css" rel = "stylesheet" type = "text/css" />


@{ ViewBag.Title = "Hotels";
}
<h2>Hotels</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p> @using (Html.BeginForm("Index", "Hotel", FormMethod.Get))

{ <p> Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) <input type="submit" value="Search" /></p> }
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        
        <th>
          Stars
        </th>
        <th>
           Address
        </th>
        <th>
            ZIP
        </th>
        <th>
            Description
        </th>
        <th>
           Destination
        </th>
   

        @*<th>
            @Html.DisplayNameFor(model => model.ho_host.ho_firstname)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.h_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h_stars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h_zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.h_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_destination.d_city)
        </td>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.ho_host.ho_firstname)
        </td>*@
        <td>


            @Html.ActionLink("z.Rating", "Index","rating", new { id = item.h_hotelid })|



            @Html.ActionLink("Edit", "Edit", new { id=item.h_hotelid }) |
            @Html.ActionLink("Details", "Details", new { id=item.h_hotelid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.h_hotelid })
         
        </td>
    </tr>
}

</table>
<br /> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
